@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  margin: 0;
}

body {
  /* margin:  0px 45px 0 45px; 
  margin-bottom: 20px; */
  background-color: #fff
 
}

/* h2, h3{
  display: inline-block;
} */

/* .icon__black{
  color: #000;
} */

.icon__white{
  color: #fff;
}
/* 
.stick{
  position: sticky;
  top: 0;
} */

/* .home__image{
  background-image: url("https://cdn.shopify.com/s/files/1/0020/2414/5008/files/Creative_-_1_1600x.jpg?v=1669358611");
} */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
